<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! session and I am {{status}}
  </h1>

  <br>
  <hr>
  <a routerLink="/mycatalog">Catalog</a>
  <a routerLink="/myproducts">Products</a>
  <a routerLink="/template-form">Template Form</a>
  <a routerLink="/model-form">Model Form</a>
  <a routerLink="/service1">Consume Service 1</a>
  <a routerLink="/service2">Consume Service 2</a>
  <a routerLink="/http-service">HTTP</a>
  <a routerLink="/animate">Animate</a>
  <a routerLink="/bootstrap">Bootstrap</a>
  <a routerLink="/httpclient">HTTP Client</a>
  <a routerLink="/parentchild">Parent Child</a>

  <router-outlet></router-outlet>
</div>
 

